* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.navbar__menu_container {
    display: flex;
    gap: 5px;
    color:gray;

}


.input_container_search {
    width: 40%;
    
}


.deals_you_cant_buy {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.fashion_at_slashed_prices {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}



.link__container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.link__container h5{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}

.footer__link{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: 300;
}


.footer__link:hover{
    color: black;
}
.container_footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 90%;
    margin: auto;
    padding: 3rem 0; 
}
.images{
    display:flex;
    gap: 40px;
}

.input_container_search {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
    outline: none;
}
.menu_bar{
    color:gray;
    display:flex;
    gap: 60px;

    
}
.social_links{
    display:flex;
    gap: 20px;

}
.hero__section{
    display:flex;
    width: 30%;
    length: 30px;
    gap: 5px;
    
}

.image_container{
    display: flex;
    gap: 10px;
    flex-direction: row;
    

}





